.wrapperForGrid{
    height: 70%;
}

.wrapperForGrid button{
    button:none
}

.bottomMenu .bottomMenuLabel hr{
    width: 30px;
}

.bottomMenuBtnsForDownload{
    margin: 10px;
}

.bottomMenuBtnsForDownload svg{
    margin-left: 10px;
}
