* {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.App {
    display: flex;
    flex-direction: row;
}

.body {
    width: 75vw;
    height: 100vh;
    font-family: 'Open Sans', 'sans-serif';
    background: #E5E5E5;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    width: 25vw;
    height: 100vh;
    background: #FCFCFC;
}